<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Terms and Conditions</title>
    <style>
      .payout_title {
        display: inline-block;
        max-width: 15rem;
        min-width: 15rem;
      }
      .payout_title + span {
        display: inline-block;
        max-width: 3.5rem;
        min-width: 3.5rem;
        text-align: left;
      }
    </style>
  </head>

  <body>
    <p><span> Dear Govind Rajkumar Malhi , </span></p>
    <p><span> Greetings from Creative Finserve Pvt. Ltd! </span></p>
    <p>
      <span>
        Firstly I would like to thank you on behalf of Creative Finserve Pvt.
        Ltd. It gives us immense pleasure to introduce ourselves to your
        Organization.
      </span>
    </p>
    <p><strong>ABOUT US:</strong></p>
    <ul>
      <li>
        <span>
          Creative Finserve Pvt. Ltd is a Channel Partner for Multiple Banks and
          NBFCs established in the year 2006.
        </span>
      </li>
      <li>
        <span>
          Creative Finserve Pvt. Ltd team comprises Ex bankers/Financial
          advisors.
        </span>
      </li>
      <li>
        <span>
          Our endeavour is to provide personalized finance consultation to the
          clients rather than a vague industry approach. Our team is a
          collection of synergized, efficient and quality driven people with
          their own area of expertise.
        </span>
      </li>
    </ul>
    <p><strong>ADVANTAGES TO GET ASSOCIATED:-</strong></p>
    <ul>
      <li><span>Better Payout.</span></li>
      <li><span>Timely Payout</span></li>
      <li><span>Transparent and speedy processing</span></li>
      <li><span>Regular Update about the cases</span></li>
    </ul>
    <p><strong>PRODUCTS:</strong></p>
    <ul>
      <li><strong>HOME LOAN / BALANCE TRANSFER OF HOME LOANS</strong></li>
      <li><strong>LOAN AGAINST PROPERTY</strong></li>
      <li><strong>PERSONAL LOAN</strong></li>
      <li><strong>BUSINESS LOANS</strong></li>
      <li><strong>LOAN AGAINST SHARES</strong></li>
      <li><strong>CAR REFINANCE</strong></li>
      <li><strong>LIFE/HEALTH/MOTOR INSURANCE</strong></li>
      <li><strong>CONSTRUCTION FINANCE</strong></li>
    </ul>
    <p>
      <span
        >Our Business partners are the most important part of our business, and
        we work tirelessly to ensure your complete satisfaction, now and as long
        as you are with us.</span
      >
    </p>
    <p>
      <span
        >Please find below tentative pay out structure this may change with the
        loan amount and the processing fees collected from the client.</span
      >
    </p>
    <ul class="payout_ul">
      <li>
        <span>
          <span class="payout_title">HOME LOAN: </span><span>0.30%</span>
        </span>
      </li>
      <li>
        <span>
          <span class="payout_title">LOAN AGAINST PROPERTY: </span
          ><span>0.40%</span>
        </span>
      </li>
      <li>
        <span>
          <span class="payout_title">BUSINESS LOAN: </span><span>1%</span>
        </span>
      </li>
      <li>
        <span>
          <span class="payout_title">PERSONAL LOAN: </span><span>1%</span>
        </span>
      </li>
      <li>
        <span>
          <span class="payout_title">GENERAL INSURANCE: </span><span>10%</span>
        </span>
      </li>
      <li>
        <span>
          <span class="payout_title">CAR REFINANCE: </span><span>1%</span>
        </span>
      </li>
    </ul>
    <p>
      <span
        >Payouts for other products will be discussed on case to case
        bases.</span
      >
    </p>
    <p><strong>TERMS & CONDITIONS:</strong></p>
    <ul>
      <li><span>TDS will be deducted from the payout.</span></li>
      <li>
        <span>
          For business done from 01st to 31st of payout will be released by 25th
          of the consecutive month.
        </span>
      </li>
      <li><span>Payment will be done through Cheque or NEFT.</span></li>
    </ul>
    <p>
      <span
        >Kindly ensure that you have uploaded your KYC documents for smooth
        processing of Payout.</span
      >
    </p>

    <p>
      <span
        >We would be delighted if you join in our success .Your contribution is
        important to ensure our sustained success and growth.We always prefer to
        fulfill the customers' needs with best deals in terms of
        <strong>Eligibility</strong>, <strong>TAT</strong> and
        <strong>Rate of Interest</strong>.</span
      >
    </p>
    <p>
      <span
        >Your Relationship Manager is Dimple Oza and you can contact her at
        <strong>9930578789.</strong></span
      >
    </p>
    <p><span>Thanks and Regards</span></p>
    <font color="#888888"
      ><p><span>Creative Finserve Pvt Ltd</span></p></font
    >
  </body>
</html>
