{% load static %}

<!DOCTYPE html>

<html lang="en">

<head>

    {% include 'base/meta.html' %}

    {% include 'base/css.html' %}

    <title>{% block title %}{% endblock title %}</title>


    {% block other_css %}{% endblock other_css %}

    <style>
        .alert-text {
            color: white;
            font-weight: bolder;
        }
    </style>

</head>

<body {% block other_body_css %}{% endblock other_body_css %}>

    <main class="main-content position-relative border-radius-lg ">

        {% block content %}{% endblock content %}

        {% include 'base/js.html' %}

    </main>

    <script>
        if (window.history.replaceState) {
            window.history.replaceState(null, null, window.location.href);
        }
    </script>

    {% block other_js %}{% endblock other_js %}

</body>

</html>